html {
    color: grey;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

div#bot_credit {
	position: bottom;
	background-color: lightgrey;
	bottom: 0;
	width: 100%;
}

.boxed {
    text-align: left;
    padding: 15;
}

.boxedOuter a {
    text-decoration: none;
}

.boxedDescription {
    text-decoration: none;
    font-size: 11;
    color: blue;
    text-align: left;
}
.boxedDate {
    text-decoration: none;
    font-size: 12;
    color: grey;
    text-align: left;
}
.boxedOuter {
    padding:20;
}

#username #password {
    float:left;
    padding: 10
}

div {
    text-align: center;
    color: black;
}

div#main-wrapper {
    text-align: left;
}

#inner_bot_credit {
	padding: 15px;
	color: grey;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
}

div#name {
	background: linear-gradient(#0074D9, 10%, #3D9970);
	padding: 15px;
	text-align: left;
	color: black;
	font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 40;
}

#rdown {
    width: 100;
    height: 100;
}

#main-wrapper {
    overflow: hidden;
    padding: 30px;
    text-align: left
}

#pic-links:hover {
    opacity: 0.6;
}

img#profile {
	border-radius: 50%;
	border:2px solid black;
}

#mock {
    text-align: left;
}

#info_col {
	float: right;
	background-color: lightgrey;
	padding: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	max-width: 200px;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#info_col_wrapper {
	padding: 20px;
}

#bod_body {
    overflow: hidden;
	min-height: 500;
}

.mynavbar {
    overflow: hidden;
    background-color: #333;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.mynavbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mydropdown {
    float: left;
    overflow: hidden;
}

.mydropdown .mydropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.mynavbar a:hover, .mydropdown:hover .mydropbtn {
    background-color: grey;
}

.mydropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.mydropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.mydropdown-content a:hover {
    background-color: #ddd;
}

.mydropdown:hover .mydropdown-content {
    display: block;
}

#container {
	min-height: 100%;
	position: relative;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

h1 {
    text-align: left;
    padding: 15px;
    color: black;
    font-size: 24;
}

#bod_head{
	font-weight: 50;
	font-size: 32;
}