.App {
  text-align: left;
}

.header {
  position: relative;
  color: #fafafa;
  background: #21262d;
  height: 150px;
}

.header h1 {
  margin: 0;
  padding: 1.5em;
  display: inline-block;
}

.header .places-images {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 0;
}

.body-wrapper {
  width: 80vw;
}

.body {
  padding-left: 2em;
}

.pic {
  text-align: left;
  margin-top: 2em;
}

.pic img {
  border: 1px solid #21262d;
  border-radius: 3px;
  display: inline-block;
}

.pic svg {
  width: 24px;
  height: 24px;
}

.pic-inline {
  display: inline-block;
}

.info {
  margin-bottom: 5px;
}

.facts {
  margin-left: 2em;
  vertical-align: top;
  padding-top: 10px;
}

.panel {
  padding: 1em;
}

.footer {
  text-align: center;
}

.footer svg {
  margin: 10px;
  margin-top: 30px;
}

.footer svg:hover {
  opacity: 60%;
}
